@media(max-width: 1800px){
    .video-wrapper{
        width: 90rem;
        height: 45rem;
        right: 10rem;
    }
    .section-2-paragraph{
        width: 90rem;
        right: 10rem;
    }
    .section-3 .section-heading-line{
        margin-right: 3rem;
    }
}
@media(max-width: 1620px){
    html{
        font-size: 57%;
    }
    .video-wrapper{
        width: 85rem;
        height: 40rem;
        right: 5rem;
    }
    .section-2-paragraph{
        width: 85rem;
        right: 5rem;
        bottom: 10rem;
    }
}
@media(max-width: 1500px){
    .section-heading-line{
        display: none;
    }
}
@media(max-width: 1400px){
    html{
        font-size: 45%;
    }
    .banner-heading span{
        font-size: 10rem;
    }
    .banner-paragraph{
        width: 45rem;
        font-size: 3rem;
    }
    .section-2,
    .section-3,
    .section-4{
        flex-direction: column;
    }
    .section-2{
        height: 100vh;
    }
    .video-wrapper{
        top: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }
    .section-2-paragraph{
        left: 50%;
        transform: translateX(-50%);
        width: 80rem;
    }
    .section-3{
        height: auto;
        padding: 5rem 0 10rem 0;
    }
    .section-3 .section-heading{
        margin-bottom: 7rem;
    }
    .swiper{
        width: 100%;
    }
    .section-4{
        height: auto;
        padding: 5rem 0;
    }
}

@media(max-width: 900px){
    html{
        font-size: 40%;
    }
    .banner{
        top: 25%;
    }
    .banner-heading{
        height: 15rem;
    }
    .banner-heading span{
        font-size: 8rem;
    }
    .banner-heading{
        font-size: 8rem;
    }
    .footer-nav{
        font-size: 1.6rem;
    }
}
@media(max-width: 700px){
    html{
        font-size: 35%;
    }
    .section-2{
        height: 100vh;
    }
    .contact-details{
        margin: 3rem 2rem;
    }
    .footer{
        flex-direction: column;
    }
    .footer-nav{
        margin-bottom: 2rem;
    }
}
@media(max-width: 500px){
    html{
        font-size: 30%;
    }
    .banner-heading span{
        font-size: 4.5rem;
        letter-spacing: 2rem;
    }
    .video-wrapper{
        width: 60rem;
    }
    .section-2-paragraph{
        width: 60rem;
    }
    .contact-details div{
        width: 18rem;
        margin: 3rem 1rem;
    }
    .contact-form{
        width: 60rem;
    }
    @keyframes animateHeading {
        0%{
            transform: translateZ((8rem));
            opacity: 0;
            letter-spacing: 2rem;
        }
        3%{
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem;
        }
        25%{
            transform: translateZ(0);
            opacity: 1;
            letter-spacing: 1rem; 
        }
        28%{
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
        100%{
            transform: translateZ(8rem);
            opacity: 0;
            letter-spacing: 2rem;
        }
    }
}

